name: Update Baikal version in Dockerfile

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get latest Baikal release
        id: latest
        run: |
          echo "LATEST=$(curl -s https://api.github.com/repos/sabre-io/Baikal/releases/latest | jq -r .tag_name)" >> $GITHUB_OUTPUT

      - name: Update version in Dockerfile
        run: |
          sed -i -E "s|ENV VERSION [0-9]+\.[0-9]+\.[0-9]+|ENV VERSION ${{ steps.latest.outputs.LATEST }}|" Dockerfile

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: bump Baikal version to ${{ steps.latest.outputs.LATEST }}"
          title: "Update Baikal version to ${{ steps.latest.outputs.LATEST }}"
          body: "Automated update of Baikal version."

      - name: Enable Auto-Merge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: merge
